body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #313131;
}

main {
  border: 2px solid orange;
  width: 1600px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main div {
  width: 1200px;
  height: 300px;
  background: #313131;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  padding: 8px;
}

main span {
  font-size: 8rem;
  text-align: center;
  overflow-wrap: anywhere;
  font-family: Consolas, Monaco, Lucida Console, monospace;
}

main h1 {
  color: white;
}

footer {
  color: white;
}